{% extends 'base.html.twig' %}

{% block title %}Gestion des leçons{% endblock %}

{% block body %}

<h1>Leçons</h1>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prix</th>
        <th>Contenu</th>
        <th>Lien vidéo</th>
        <th>Actions</th>
    </tr>
    {% for lesson in lessons %}
        <tr>
            <td>{{ lesson.id }}</td>
            <td>{{ lesson.name }}</td>
            <td>{{ lesson.price }}€</td>
            <td>{{ lesson.content }}</td>
            <td>{{ lesson.videoUrl }}</td>
            <td>
                <a href="{{ path('app_admin_lesson_edit', {'id': lesson.id}) }}" class="btn btn-primary">Modifier</a>
                <form action="{{ path('app_admin_lesson_delete', {'id': lesson.id}) }}" method="post">
                    <button type="submit" class="btn remove-btn">Supprimer</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
